body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

/* Main */

main {
  display: flex;
  margin: 1.3em;
  gap: 1.3em;
}

/* Section de gauche */

.gauche {
  flex: 2;
  background-color: #fff;
  padding: 3em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.carousel-container {
  position: relative;
  width: 100%;
  max-width: 25em;
  margin: 0 auto;
}

.art-image img {
  width: 100%;
  display: none;
}

.art-image img.active {
  display: block;
}

.carousel-fleche {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  font-size: 1.4em;
  padding: 0.8em;
  cursor: pointer;
  color: #333;
  transform: translateY(-50%);
  /* Box autour de la flèche, à changer peut-être. */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.carousel-fleche.gauche {
  left: -3.5em;
}

.carousel-fleche.droite {
  right: -3.5em;
}

.art-info {
  text-align: center;
  margin-top: 0.3em;
}

.art-info h1 {
  font-size: 20px;
  margin: 10px 0;
}

.art-info p {
  font-size: 14px;
  color: #777;
}


.art-image-similaire {
  margin-top: 30px;
}

.art-image-similaire h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.tableau-similaire {
  display: flex;
  gap: 50px;
  margin-top: 10px;
  justify-content: space-evenly;
}

.tableau-similaire img {
  width: 100px;
  height: auto;
  border: 1px solid #ccc;
}

/* Section de droite*/

.droite {
  flex: 1;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profil-section {
  margin-bottom: 20px;
}

.profil-info {
  display: flex;
  align-items: center;
  gap: 40px;
}

.photo-profil {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.profil-nom {
  font-size: 18px;
  font-weight: bold;
}

.note {
  font-size: 18px;
  color: #777;
}

.actions {
  margin: 15px 0;
}

.actions button {
  background-color: rgba(217, 163, 106, 1);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 0.3em;
  border-radius: 4px;
  font-size: 16px;
}

.actions button:hover {
  opacity: 0.9;
}

.info-prix {
  font-size: 18px;
  color: #333;
}

.info-prix .réduction {
  font-size: 14px;
  font-style: bold;
  color: rgba(217, 163, 106, 1);
}

.eco-info {
  font-size: 14px;
  color: #777;
}

.details {
  font-size: 14px;
  color: #777;
  margin-top: 20px;
}

.details .publication,
.details .livraison {
    margin-bottom: 10px;
}

@media screen and (max-width: 1080px) {
  body {
    overflow-x: hidden; /* Empêche le défilement horizontal */
    margin: 0; /* Supprime les marges externes */
    padding: 0;
  }

  main {
    flex-direction: column; /* Empile les sections */
    padding: 10px;
    align-items: center; /* Centre les sections horizontalement */
  }

  .gauche,
  .droite {
    width: 90%; /* Sections prennent 90% de la largeur de l'écran */
    margin-bottom: 1.5em;
    margin-left: auto; /* Centre horizontalement */
    margin-right: auto; /* Centre horizontalement */
  }

  .tableau-similaire {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .tableau-similaire img {
    width: 90%;
    max-width: 100px;
    margin: 5px;
  }

  .prix {
    font-size: 14px;
  }

  .actions button {
    width: 100%; /* Boutons prennent toute la largeur */
    margin-bottom: 10px;
  }

  .carousel-fleche {
    font-size: 1.2em;
    padding: 0.5em;
  }

  .carousel-fleche.gauche {
    left: -2.5em;
  }

    .carousel-fleche.gauche {
        left: -2.5em;
    }

    .carousel-fleche.droite {
        right: -2.5em;
    }
}


#btnSignaler {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.8em;
    border-radius: 0.5em;
    border: none;
}

textarea {
    background: rgba(217, 163, 106, 0.7);
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 7px;
}

.signaler-close-button {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.title-signaler {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.signaler-form {
    position: absolute;
    left: 20%;
    z-index: 999;
    background-color: #ffff;
    padding: 20px 40px 40px 40px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.signaler-close-button:hover {
    opacity: 0.9;
}

#btnSignaler:hover {
    opacity: 0.9;
}

.btn-close-container {
    text-align: right;
}

.btn-container {
    text-align: center;
}

.boutton-favoris{
    margin-left: 0.4em;
}


#btnSignaler {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.8em;
    border-radius: 0.5em;
    border: none;
}

textarea {
    background: rgba(217, 163, 106, 0.7);
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 7px;
}

.signaler-close-button {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.title-signaler {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.signaler-form {
    position: absolute;
    left: 20%;
    z-index: 999;
    background-color: #ffff;
    padding: 20px 40px 40px 40px;
    border-radius: 4px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
}

.signaler-close-button:hover {
    opacity: 0.9;
}

#btnSignaler:hover {
    opacity: 0.9;
}

.btn-close-container {
    text-align: right;
}

.btn-container {
    text-align: center;
}

.boutton-favoris{
    margin-left: 0.4em;
}

@media screen and (max-width: 1080px) {
    body {
        overflow-x: hidden; /* Empêche le défilement horizontal */
        margin: 0; /* Supprime les marges externes */
        padding: 0;
    }

    header {
        display: none; /* Cache le header sur petits écrans */
    }

    main {
        flex-direction: column; /* Empile les sections */
        padding: 10px;
        align-items: center; /* Centre les sections horizontalement */
    }

    .gauche,
    .droite {
        width: 90%; /* Sections prennent 90% de la largeur de l'écran */
        margin-bottom: 1.5em;
        margin-left: auto; /* Centre horizontalement */
        margin-right: auto; /* Centre horizontalement */
    }

    .tableau-similaire {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .tableau-similaire img {
        width: 90%;
        max-width: 100px;
        margin: 5px;
    }

    .prix {
        font-size: 14px;
    }

    .actions button {
        width: 100%; /* Boutons prennent toute la largeur */
        margin-bottom: 10px;
    }

    .carousel-fleche {
        font-size: 1.2em;
        padding: 0.5em;
    }

    .carousel-fleche.gauche {
        left: -2.5em;
    }

    .carousel-fleche.droite {
        right: -2.5em;
    }
}
