body {
    text-align: center;
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #D9A36A;
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 10px;
}

p {
    color: #404F5E;
    font-size: 20px;
    margin: 0;
}

i {
    color: #D9A36A;
    font-size: 100px;
    line-height: 200px;
    margin-left: -15px;
}

.card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #C8D0D8;
    display: inline-block;
    margin: 0 auto;
}

.cancel {
    border-radius:200px; 
    height:200px; 
    width:200px; 
    background: #fdf1e4; 
    margin:0 auto;
}

.btn-accueil {
    border: none;
    background-color: #D9A36A;
    padding: 1.1em;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 1em;
}

.btn-accueil:hover {
    opacity: 0.9;
}