.titre {
    text-align: center;
    
}

.conteneur {
    display: flex;
    
    
}

.gauche {
    width: 500px; /* largeur texte */
    display: flex;
    flex-direction: column;
    padding : 20px ;
    margin-left: 100px;
    

}
h2 {
    color: aquamarine;
}
img {
    width: 25px;
}
.image{
    text-align: end;
}
/* Style des liens de la barre de gauche */
.gauche a {
    color: black;
    padding: 10px; /* marge interieure */
    text-decoration: none;
    font-family: none ;/* cache que c'est un lien hypertexte */
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    text-align: center;
    
    
}

.gauche a:hover { 
    background-color: azure;
    opacity: 0.8; 
    border: 2px solid gray;
}

/* Contenu de droite : occupe l'espace restant */
.droite {
    padding-right: 300px;
    text-align: justify;
    
}
