.Page-content {
  display: flex;
  align-items: center;
}

.infos-connexion {
  display: flex;
  padding-left: 90px;
  padding-right: 30px;
  width: 600px;
  height: 375px;
}

.inscrivez-vous {
  border-radius: 30px;
  box-shadow: 2px 2px;
  background: rgba(217, 217, 217, 0.8);
}

.connexion-content {
  padding: 40px 75px 80px 75px;
  opacity: 1;
}

.simpleBigText a {
  text-decoration: none;
  color: #d9a36a;
  font-weight: 300;
}

.text-galeris {
  color: black;
  font-family: "Poppins", sans-serif;
}

.form-connexion {
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 30px;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Title-connexion {
  font-size: 30px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.submit-button {
  background-color: #d9a36a;
  border: none;
  padding: 15px;
  width: 45%;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16;
}

.logo-galeris {
  position: absolute;
  top: 0px;
  right: 0px;
}

.button-connection {
  width: 275px;
  margin-top: 20px;
  height: 60px;
  border-radius: 15px;
  background-image: url("../../images/co.png");
  background-repeat: no-repeat;
  background-size: 369px 59px;
  background-position: center;
  cursor: pointer;
  border: none;
}

.button-connection:hover {
  opacity: 0.9;
}

#showmdp {
  width: 1.4rem;
  height: 1.2rem;
  cursor: pointer;
}

#hidemdp {
  width: 1.4rem;
  height: 1.2rem;
  cursor: pointer;
}

#diveye {
  width: 1.4rem;
  height: 1.2rem;
}

input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: rgba(217, 163, 106, 0.7);
  color: fieldtext !important;
}

.g-recaptcha{
  padding-top: 20px;
}

@media (max-width: 1280px) {
  .Page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .infos-connexion {
    display: flex;
    justify-content: center;
    padding-left: 90px;
    padding-right: 30px;
    width: 40%;
    height: 40%;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  .Page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .infos-connexion {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    width: 50%;
    height: 40%;
  }

  .inscrivez-vous {
    display: flex;
    text-align: center;
    width: 90%;
    height: 80%;
    padding: 10px 20px 0px 10px;
  }

  .connexion-content {
    padding: 0px 30px 0px 10px;
    opacity: 1;
  }

  .form-connexion {
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 0px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
  }

  .form {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: flex;
    flex-direction: column;
  }
}
