body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

/* Main */

main {
    display: flex;
    margin: 1.3em;
    gap: 1.3em;
}

/* Section de gauche */

.gauche {
    flex: 2;
    background-color: #fff;
    padding: 3em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 25em;
    margin: 0 auto;
}

.art-image img {
    width: 100%;
    display: none;
}

.art-image img.active {
    display: block;
}

.carousel-fleche {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    font-size: 1.4em;
    padding: 0.8em;
    cursor: pointer;
    color: #333;
    transform: translateY(-50%);
    /* Box autour de la flèche, à changer peut-être. */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.carousel-fleche.gauche {
    left: -3.5em;
}

.carousel-fleche.droite {
    right: -3.5em;
}

.art-info {
    text-align: center;
    margin-top: 0.3em;
}

.art-info h1 {
    font-size: 20px;
    margin: 10px 0;
}

.art-info p {
    font-size: 14px;
    color: #777;
}

/* Oeuvres similaires*/

.art-image-similaire {
    margin-top: 30px;
}

.art-image-similaire h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.tableau-similaire {
    display: flex;
    gap: 50px;
    margin-top: 10px;
    justify-content: space-evenly;
}


.tableau-similaire img {
    width: 100px;
    height: auto;
    border: 1px solid #ccc;
}

/* Section de droite*/

.droite {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.profil-section {
    margin-bottom: 20px;
}

.profil-info {
    display: flex;
    align-items: center;
    gap: 40px;
}

.photo-profil {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.profil-nom {
    font-size: 18px;
    font-weight: bold;
}

.note {
    font-size: 18px;
    color: #777;
}

.actions {
    margin: 15px 0;

}

.actions button {
    background-color: rgba(217, 163, 106, 1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 0.3em;
    border-radius: 4px;
    margin-left: 0.3em;
    font-size: 16px;

}

.eco {
    color : green
}

.actions button:hover {
    opacity: 0.9;
}

.info-prix {
    font-size: 18px;
    color: #333;
}

.info-prix .réduction {
    font-size: 14px;
    font-style: bold;
    color: rgba(217, 163, 106, 1);
}

.eco-info {
    font-size: 14px;
    color: #777;
}

.details {
    font-size: 14px;
    color: #777;
    margin-top: 20px;
}

.details .publication,
.details .livraison {
    margin-bottom: 10px;
}

.table-enchere th,
.table-enchere td {
    border: 1px solid gray;
    padding: 5px;
}

.table-enchere {
    border-collapse: collapse;
    margin-top: 1.5em;
}

.table-enchere th,
.table-enchere td {
    border: 1px solid gray;
    padding: 10px;
}

.enchere{
    padding-bottom: 1em;
    font-weight: bold;
}

.enchere-form {
    position: absolute; 
    left: 40%; 
    z-index: 999; 
    background-color: #ffff; 
    padding: 20px 40px 40px 40px; 
    border-radius: 4px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: none;
}

.signaler-form {
    position: absolute; 
    left: 20%; 
    z-index: 999; 
    background-color: #ffff; 
    padding: 20px 40px 40px 40px; 
    border-radius: 4px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: none;
}

.error {
    color: red;
    font-size: 16px;
}

.title-enchere{
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.title-signaler{
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.input-enchere {
    background: rgba(217, 163, 106, 0.7);
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 7px;
}

.enchere-button {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.8em;
    border-radius: 0.5em;
    border: none;
}

.enchere-button:hover {
    opacity: 0.9;
}

.btn-container{
    text-align: center;
}

.close-button {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.signaler-close-button{
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.signaler-close-button:hover{
    opacity: 0.9;
}

.close-button:hover{
    opacity: 0.9;
}

.btn-close-container{
    text-align: right;
}

#btnSignaler{
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.8em;
    border-radius: 0.5em;
    border: none;
}

#btnSignaler:hover{
   opacity: 0.9;
}

textarea{
    background: rgba(217, 163, 106, 0.7);
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 7px;
}