header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
}

.logo img {
  width: 100px;
  height: auto;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 70px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
}

.barre_recherche {
  display: flex;
  align-items: center;
}

.barre_recherche2 {
  display: flex;
  align-items: center;
}

.barre_recherche input[type="text"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.barre_recherche2 input[type="text"] {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.barre_recherche a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

.barre_recherche2 a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

.favori {
  padding-left: 1em;
}
.panier {
  padding-left: 1em;
}

.utilisateur {
  padding-left: 1em;
}

.mainmenubtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.mainmenubtn:hover {
  opacity: 0.9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-child {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #f1f1f1;
  left: -7em;
  top: 1.3em;
  text-align: center;
}

.dropdown-child a {
  color: black;
  padding: 0.5em 0.8em;
  text-decoration: none;
  display: block;
}

.dropdown-child a:hover {
  opacity: 0.4;
}

.dropdown:hover .dropdown-child {
  display: block;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown2-child {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #f1f1f1;
  right: -5em;
  top: 1.3em;
  text-align: center;
}

.dropdown2-child a {
  color: black;
  padding: 0.5em 0.8em;
  text-decoration: none;
  display: block;
}

.dropdown2-child a:hover {
  opacity: 0.4;
}

.dropdown2:hover .dropdown2-child {
  display: block;
  
}

.ham-menu-resp {
  padding-left: 5px;
  padding-right: 5px;
}

#deconnexion {
  cursor: pointer;
}

.hamburger-container {
  display: none;
  position: relative;
}

.hamburger-image {
  display: block;
  width: 50px;
  padding-left: 25px;
  cursor: pointer;
}

.hamburgermenu {
  position: absolute;
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  z-index: 1000;
}

.ham-search-cote {
  display: none;
}

@media (max-width: 1050px) {
  header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }
}

@media (max-width: 600px) {
  .menu ul li {
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  .menu {
    display: none;
  }
  .barre_recherche {
    display: flex;
  }
  .barre_recherche2 {
    display: none;
  }

  .hamburger-container {
    display: block;
  }

  .hamburger-container:hover .hamburgermenu {
    display: block;
  }

  .hamburgermenu.active {
    display: block;
  }

  .ham-search-cote {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
  }
  .hamburgermenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .hamburgermenu ul li {
    margin: 10px 0;
  }

  .hamburgermenu ul li a {
    text-decoration: none;
    color: #000;
  }

  .favori {
    padding-left: 5px;
  }
  .panier {
    padding-left: 5px;
  }
  .utilisateur {
    padding-left: 5px;
  }
  .favori2 {
    display: none;
  }
  .panier2 {
    display: none;
  }
  .utilisateur2 {
    display: none;
  }
}

@media (max-width: 420px) {
  .favori {
    display: none;
  }
  .panier {
    display: none;
  }
  .utilisateur {
    display: none;
  }
  .favori2 {
    display: block;
  }
  .panier2 {
    display: block;
  }
  .utilisateur2 {
    display: block;
  }
}

@media (max-width: 330px) {
  .shearch {
    width: 100%;
  }

  .ham-search-cote {
    gap: 10px;
  }
}
