body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    overflow-x: hidden; /* Évite le débordement horizontal */
}

main {
    max-width: 1200px;
    margin: 2em auto;
    padding: 0 2em;
    animation: fadeIn 0.8s ease-in-out;
}

.general {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-solde {
    border : 0.3rem solid black;
    border-radius : 1rem;
    border-color : black;
    width : 20rem;
    height : 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(217, 163, 106, 1);
    font-weight: bold;
    font-size: 2rem;

}

.container-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 4rem;

}

.Button-envoie {
    width : 40%;
    padding : 1rem;
    background-color : rgba(217, 163, 106, 1);
    color : white;
    border : none;
    border-radius: 0.5rem;
    cursor : pointer;

    font-weight : bold;
}

.Button-envoie:hover{
    opacity: 0.8;
}

.solde-user{
    text-align: center;
}

.solde-form {
    position: absolute; 
    left: 40%; 
    z-index: 999; 
    background-color: #ffff; 
    padding: 20px 40px 40px 40px; 
    border-radius: 4px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: none;
}

.error {
    color: red;
    font-size: 16px;
}

.title-solde{
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

.input-solde {
    background: rgba(217, 163, 106, 0.7);
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 1em;
}

.input-idStripe {
    background: rgba(217, 163, 106, 0.7);
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 7px;
}

.solde-button {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.8em;
    border-radius: 0.5em;
    border: none;
}

.solde-button:hover {
    opacity: 0.9;
}

.btn-container{
    text-align: center;
}

.close-button {
    margin-top: 1em;
    background-color: #D9A36A;
    color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.5em;
    border: none;
}

.close-button:hover{
    opacity: 0.9;
}

.btn-close-container{
    text-align: right;
}