body {
    font-family: Arial, Helvetica, sans-serif;
}

.Page-User {
    background: url('../../images/fondecran3.jpg') no-repeat center center;
    display: flex;
    background-size: cover;
    /* Fait en sorte que l'image couvre toute la page */
    min-height: 120vh;
    color: #333;
    justify-content: center;
}

.error-message {
    color: red;
    font-size: 16px;
}

.simpleText {
    font-size: 12;
    font-family: Arial, Helvetica, sans-serif;
}

.simpleBigText {
    font-Size: 16;
    font-family: Arial, Helvetica, sans-serif;
}

.bigTitle {
    font-weight: bold;
    font-size: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.bigTitle3 {
    font-size: 2.2em;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.bigTitle6 {
    font-size: 1em;
    font-weight: bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
    height: auto;
}

.simpleTitle {
    font-family: Arial, Helvetica, sans-serif;
}

.simpleButtonHover:hover {
    opacity: 0.9;
}

.submit-button:hover {
    opacity: 0.9;
}

.input-user {
    background: rgba(217, 163, 106, 0.7);
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 7px;
}

.input-user-first {
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    background: rgba(217, 163, 106, 0.7);
}

.input-user-first::placeholder {
    color: black;
    opacity: 1;
}

.input-user::placeholder {
    color: black;
    opacity: 1;
}

.link {
    width: 275px;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: black;
    text-decoration: none;
    padding-top: 20px;
    opacity: 100%;
}

.smallButton {
    background-color: #D9A36A;
    width: 8em;
    border-radius: 1em;
    border: none;
}

.simpleInput {
    border: none;
    padding: 15px;
    width: 18em;
    border-radius: 5px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 1080px){
    header {
        display : none;
    }
}




@media (max-width: 450px){
    .bigTitle {
        font-weight: bold;
        font-size: 30px;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
}




