<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Galeris</title>
    <link rel="stylesheet" href="../css/FAQ.css">
</head>
<body>
   <header>
    <h2>Foire Aux Questions</h2>
    <p>Trouvez toutes les réponses à vos questions !</p>
   </header> 

<il>Général</il><br>

<details>
    <summary>Mini quiz</summary>
    <p>Ceci est le texte qui se déroule lorsque vous cliquez sur le mot.</p>
</details>

<details>
    <summary>Newsletters</summary>
    <p>Ceci est le texte qui se déroule lorsque vous cliquez sur le mot.</p>
</details>

<details>
    <summary>Eco-resposabilité</summary>
    <p>Ceci est le texte qui se déroule lorsque vous cliquez sur le mot.</p>
</details>

<il>Compte</il><br>
   
<details>
    <summary>Quels sont les avantages de créer un compte Galeris ?</summary>
    <p>Créer un compte Galeris vous donne accès à un monde d’art et d’objets extraordinaires. Dès que vous créez un compte, vous pouvez : 
        
    <ul>
        <li>Enregistrez vos intérêts pour des recommandations personnalisées</li>
        <li>Suivez les lots et les enchères Suivez</li>
        <li>En gardez une trace dans votre compte</li>
        <li>Consultez vos factures</li>
        <li>organisez l'expédition et le paiement en ligne</li>
        <li>En gardez une trace dans votre compte</li>
        <li>Suivez la progression de tous les articles que vous vendez</li>
        <li>Inscrivez-vous et enchérissez aux enchères</li>
</ul>
</p>
</details>
<details>
    <summary>Comment réinitialiser mon mot de passe ?</summary>
    <p>Cliquez ici et saisissez l'adresse e-mail associée à votre compte Galeris pour recevoir 
        un lien pour réinitialiser votre mot de passe.
    </p>
</details>




<il>Achat</il><br>

<details>
    <summary>Comment acheter des œuvres d'art via Galeris ?</summary>
    <p>Il existe plusieurs façons d'acheter chez Galeris. Vous pouvez enchérir sur une œuvre lors de l'une 
    de nos ventes aux enchères en direct ou en ligne organisées régulièrement. Consultez le calendrier des
    ventes pour connaître les prochaines dates. Vous pouvez également acheter des œuvres d'art via notre 
    service de ventes privées, qui propose des œuvres disponibles à l'achat immédiat. Parcourez les catégories, 
    découvrez quelque chose de nouveau dans nos expositions de vente thématiques ou contactez un spécialiste si
     vous avez un objet spécifique en tête.</p>
</details>

<details>
    <summary>Comment m'inscrire à une vente aux enchères ?</summary>
    <p>Avant de vous inscrire, vous devez d'abord créer un compte Galeris et vérifier votre identité. 
        Une fois cette étape effectuée, vous pouvez vous inscrire pour enchérir dans n'importe quelle vente aux enchères.
        Pour les enchères en ligne, connectez-vous à votre compte, accédez à la page de vente et cliquez sur « S'inscrire ».
        Il vous sera demandé de confirmer certains détails de votre compte, tels que votre adresse de livraison préférée.
        Vous pouvez vous inscrire avant la vente aux enchères ou à tout moment pendant celle-ci.</p>
</details>

<details>
    <summary>Comment payer mon achat ?</summary>
        <p>Si vous remportez une enchère, vous trouverez toutes les informations relatives à votre achat dans votre compte
        sous « Acheter », puis « Finaliser ma commande ».
        Ici, vous pouvez consulter les factures de vos lots et payer et organiser l'expédition des commandes jusqu'à
        100 000 USD / 100 000 £ / 100 000 € / 1 000 000 HK$ / 100 000 CHF. Veuillez noter qu'il peut s'écouler jusqu'à
        48 heures avant que les lots soient disponibles pour le paiement en ligne. Pour les lots supérieurs à ce montant
        ou d'autres options de paiement, y compris le virement bancaire, veuillez vérifier le verso de votre facture.</p>
</details>

<details>
    <summary>Comment suivre les articles qui m'intéressent ?</summary>
        <p>Le moyen le plus simple de suivre les articles qui vous intéressent est de les suivre.
        Vous pouvez trouver les articles que vous suivez en cliquant sur le bouton favoris.</p>
</details>

<il>Vente</il><br>

<details>
    <summary>Comment puis-je obtenir une estimation ?</summary>
    <p>Utilisez notre outil d'estimation d'enchères gratuit pour soumettre des 
    images et des informations supplémentaires par article. Les estimations d'enchères
    sont fournies dans un délai de 3 à 4 semaines pour les articles pour lesquels Galeris 
    a une catégorie de vente et qui correspondent à notre valeur de consignation minimale. 
    Si vous avez plus de six articles à estimer, veuillez contacter nos services d'estimation 
    et d'évaluation des successions.</p>
</details>

<details>
    <summary>Combien coûte une vente avec Galeris ?</summary>
    <p>Galeris facture un taux de commission vendeur unique pour les services que nous fournissons. 
    La commission est calculée sur chaque article sous forme de pourcentage fixe basé sur le prix d'adjudication 
    final aux enchères. Ce taux comprend les frais de marketing et la couverture d'assurance. Si votre article se 
    vend au-dessus de l'estimation haute que nous avons convenue avec vous, il y aura également une commission de 
    performance supplémentaire de 2 %.</p>
</details>

<details>
    <summary>Comment vendre un article avec Galeris ?</summary>
    <p>Merci d'avoir envisagé de confier la vente de votre article à Galeris. La première 
    étape consiste à demander une estimation gratuite de la vente aux enchères et à déterminer 
    si votre article convient à la vente aux enchères de Galeris. Un spécialiste de Galeris vous 
    contactera ensuite pour discuter des estimations, vous conseiller sur les dates de vente aux 
    enchères et vous expliquer votre accord de vente et la structure de commission.Après la vente 
    aux enchères, vous recevrez une notification vous informant du prix atteint par votre article.
    À condition que nous ayons reçu le paiement intégral de l'acheteur, environ 35 jours après la
    vente aux enchères, votre paiement sera envoyé sur votre compte désigné.</p>
</details>

</body>
</html>