<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription - Galeris</title>
    <link href="../css/inscription.css" rel="stylesheet">
</head>
<body>
    <div class="container_gauche">
        <!-- Section droite avec le formulaire d'inscription -->
        <div class="section-gauche">
            <div class="v203_449"></div> <!--back du text"connecter vous a galeris-->

            <div class="inscrivez-vous">Inscrivez-vous à</div>
        
            <div class="galeris">Galeris</div>
        
            <span class="si-vous-avez">Si vous avez déjà un compte vous </span>
            
            <!--changer!!!!!!!!!!!!!!!!-->
            <span class="pouvez-vous">pouvez vous <a href="changer a lien de inscription" class="lien-connexion">Connecter ici</a> ! </span>
        </div>
    </div>
    <div class="container">  
        <!-- Section droite avec le formulaire d'inscription -->
        <div class="section-droite">
            <div class="connectez">Connectez-vous</div>
            <form action="#">
                <input type="text" placeholder="Nom" required>
                <input type="text" placeholder="Prénom" required>
                <input type="text" placeholder="Nom d'utilisateur" required>
                <input type="email" placeholder="Email" required>
                <input type="tel" placeholder="Numéro de téléphone" required>
                <input type="password" placeholder="Mot de passe" required>
                <input type="password" placeholder="Confirmer votre mot de passe" required>
                <button type="submit">S'inscrire</button>
                <div class="captcha">
                    <p>reCAPTCHA</p> <!-- Utiliser un vrai widget reCAPTCHA -->
                </div>
            </form>
        </div>
    </div>

    <!-- Logo Galeris -->
    <div class="logo">
        <img src="/images/logo.png" alt="Galeris Logo">
    </div>
</body>
</html>
<footer></footer>